#FAQBackground {
    width: 100%;
}

#faq {
    margin-top: 4em;
    width: 700px;
    background: rgba(56, 126, 209, 0.9);
    border-radius: 10px;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
}

.Question {
    font-weight: bold;
}

.link {
    color: #f29e36;
}

.link:hover {
    color: #e0bd01;
}