/*Credit for popup css: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal_bottom*/
.PopupEdit {
    z-index: 9999;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 90vh;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: #6a7f8f;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

.Popup-contentEdit {
    height: 80vh;
    overflow-y: scroll;
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

.Popup-headerEdit {
    border-radius: 20px 20px 0px 0px;
    background-color: #9f9f98;
    padding: 10px;
}

.Popup-titleEdit {
    margin-left: 10px;
    font-size: 24px;
    margin-top: auto;
    margin-bottom: auto;
}

.close {
    position: absolute;
    right: 20px;
    top: 17px;
    width: 25px;
    height: 25px;
    border: none;
    background: none;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    content: ' ';
    height: 24px;
    top: 0px;
    width: 3px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}


.Popup-body {
    margin-left: 20px;
    margin-top: 20px;
}

