.AddPokemon {

}

.searchbar {
    margin-top: 20px;
    width: 300px;
    height: 40px;
    font-size: 20px;
    padding-left: 8px;
}


.listElement {
    margin: 5px;
}

.Results {
    height: 50vh;
    width: 50vw;
    overflow: auto;
}

.Header {
    display: grid;
    grid-template-columns: 15.5% 44.5% 10% 30%;
    grid-template-rows: 50px;
    font-family: Arial, Helvetica, sans-serif;

    left: 4px;
    width: 49vw;
}

.HeaderButton {
    /*-webkit-text-size-adjust: auto;*/
    padding: 5px;
    font-size: 95%;
    border-width: 1px;
    border-right-style: solid;
    border-left-style: solid;
    border-right-color: var(--borderColor);
    border-left-color: var(--borderColor);
}

.TypeDropdownButton {
    margin: 10px;
}

.TypeDropdownMenu {
    width: 50px;
    /*background: #5a6268;*/
    height: 80vh;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 6px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border: 1px dimgray;
}

::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 5px;
}