.AddPokemon {
    display: flex;
    flex-direction: column;
}

.searchbar {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}

.FilterSort {
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
}

.CheckFilter {
    margin-top: auto;
    margin-bottom: auto;
}

.Table {
    margin-left: auto;
    margin-right: auto;
}

.listElement {
    margin: 5px;
}

.AddResults {
    height: 53vh;
    width: 56vw;
    overflow: auto;
}

.Header {
    display: grid;
    grid-template-columns: 15.5% 44.5% 10% 30%;
    grid-template-rows: 50px;
    font-family: Arial, Helvetica, sans-serif;

    left: 4px;
    width: 55vw;
}

.HeaderButton {
    /*-webkit-text-size-adjust: auto;*/
    padding: 5px;
    font-size: 95%;
    border-width: 1.5px;
    border-right-style: solid;
    border-left-style: solid;
    border-right-color: var(--borderColor);
    border-left-color: var(--borderColor);
}

.TypeDropdownButton {
    margin: 10px;
}

.TypeDropdownMenu {
    min-width: 8rem;
    background: #c9eaff;
    height: 60vh;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 6px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border: 1px dimgray;
}

::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 5px;
}