.EmptyBox {
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    border-width: 2px;

    width: 220px;
    height: 360px;
    margin: 0px 5px 0px;
}

.AddPokeButton {
    width: 216px;
    height: 50px;
}

.PokemonBox {
    display: flex;
    flex-direction: column;
}

.EditButton {
    width: 220px;
    height: 360px;

    border-style: solid;
    border-color: white;
    border-width: 2px;

    padding: 0px;
    margin: 0px 5px 0px;
}

#portrait {
    width: 100px;
}

.TypeAndPic {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100px auto 40px;

    margin: 0px 5px 3px;
}

.Name {
    font-size: 20px;
    margin-left: 4px;
}

.Type {
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 50px;
    margin-left: 10px;
    margin-top: 5px;
}

.Delete {
    position: relative;
    top: -318px;
    left: 176px;

    z-index: 1;
    margin-top: 5px;
    width: 40px;
    height: 40px;
    padding: 0px;
}

.Move {
    margin: 4px;
    height: 1.9em;
    background: #565555;
    border-radius: 5px;
}

.LeftAlign {
    margin-left: 3px;
    margin-right: auto;
}


