/*Credit for popup css: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal_bottom*/
.PopupUndo {
    z-index: 9999;
    position: fixed;
    left: 90%;
    top: 90%;
    transform: translate(-50%, -50%);
    width: 20vw;
    height: 15vh;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: #6a7f8f;
    animation-name: fadeIn;
    animation-duration: 0.4s;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 28% 32% 6vh;
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

.Popup-headerUndo {
    border-radius: 15px 15px 0px 0px;
    background-color: #9f9f98;
    padding: 3px 5px 0px;
}

.DeletedText {
    font-size: 16px;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
}

.PokeName {
    font-weight: bold;
    font-size: 18px;
    margin: 0 auto;
}

.UndoButton {
    width: 16vw;
    height: 5vh;
    border-radius: 15px;
    padding: 0px;

    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.UndoText {
    font-size: 20px;
}

.close-Undo {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    border: none;
    background: none;
    opacity: 0.3;
}
.close-Undo:hover {
    opacity: 1;
}
.close-Undo:before, .close-Undo:after {
    position: absolute;
    content: ' ';
    height: 20px;
    top: 0px;
    width: 3px;
    background-color: #333;
}
.close-Undo:before {
    transform: rotate(45deg);
}
.close-Undo:after {
    transform: rotate(-45deg);
}

.Popup-body {
    margin-left: 20px;
    margin-top: 20px;
}